# Python
__pycache__/
*.pyc
*.pyo
.venv/
env/

# Node
node_modules/
dist/

# Database
*.db

# Environment
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Cache
.cache/
*.log
